*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
 }

 h1 {
     text-align: center;
 }

 .game {
     position: absolute;
     top: 9%;
     left: 50%;
     width: 590px;
     height: 550px;
     background: burlywood;
     border: 5px solid darkblue;
     /* box-shadow: 5px 5px cornflowerblue; */
     padding: 1.5rem;
     /* display: flex;
     justify-content: center; */
     /* margin: -25px 0 0 -25px;  */
     transform: translate(-50%);
 }

 .slot {
     width: 78px;
     height: 79px;
     background: rgb(0, 100, 139);
     border: 1px solid black;
     border-radius: 50%;
    }

 .reset{
     position: absolute;
     top: 95vh;
     left: 50%;
     border: 2px solid darkblue;
     width: 6rem;
     text-align: center;
     cursor: pointer;
     transform: translate(-50%);
 }   